<% @tracks.each do |e| %>
    <br>
        <p>
            <p> <%= image_tag "/get_track_image/#{e.id}" %></p>
            <p>楽曲名：<%= e.title %></p>
            <% if e.description.present?  %>
                <p>説明：<%= e.description %></p>
            <% end %>
            <br><a href="/tracks/<%= e.id%>">詳細</a></br>
            <br><%= link_to '削除', track_path(e.id), method: :delete %></br>
        </p>
    </br>
<% end %>

<p>
    <%= link_to '新規作成', new_track_path %>
</p>



