<% if @track.errors.present? %>
    <h3>エラーがあります。</h3>
    <ul>
        <% @track.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @track do |f| %>
  <div class="mb-3">
    <%= f.label :title, 'タイトル', class: "form-label" %>
    <span class='badge bg-danger'>必須</span>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :mp3, '音楽ファイル', class: "form-label" %>
    <span class='badge bg-danger'>必須</span>
    <%= f.file_field :mp3, class: 'form-control' %>
  </div>

  <div class="mb-3"> 
    <%= f.label :thumbnail, 'サムネイル', class: "form-label" %>
    <span class='badge bg-danger'>必須</span>
    <%= f.file_field :thumbnail, class: 'form-control' %>
  </div>

  <div class="mb-3"> 
    <%= f.label :description, '説明', class: "form-label" %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  
  <%= f.submit 'アップロード', class:"btn btn-primary" %>
<% end %>
