<% @playlists.each do |e| %>
    <br>
        <p>
            <p> <%= image_tag "/get_playlist_image/#{e.id}" %></p>
            <p>プレイリスト名：<%= e.title %></p>
            <br><a href="/playlists/<%= e.id%>">詳細</a></br>
            <br><%= link_to 'プレイリストの削除', playlist_path(e.id), method: :delete %></br>
        </p>
    </br>
<% end %>

<p>
    <%= link_to 'プレイリストの新規作成', new_playlist_path %>
</p>