<% @playlists.each do |e| %>
    <br>
        <p>

            
            <p> <%= image_tag "/get_image/#{e.id}" %></p>
            
            <p>プレイリスト名：<%= e.title %></p>
            
            <br><%= link_to '削除', playlist_path(e.id), method: :delete %></br>
            
            <%# <%= link_to 'プレイリストに追加', new_playlist_path(product_id: e.id) %>
        </p>
    </br>
<% end %>

<p>
    <%= link_to '新規作成', new_playlist_path %>
</p>