<%= form_with model: @playlist do |f| %>
  <div class="mb-3">
    <%= f.label :title, 'プレイリスト名', class: "form-label" %>
    <span class='badge bg-danger'>必須</span>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3"> 
    <%= f.label :thumbnail, 'サムネイル', class: "form-label" %>
    <span class='badge bg-danger'>必須</span>
    <%= f.file_field :thumbnail, class: 'form-control' %>
  </div>
  
  <%= f.submit '登録', class:"btn btn-primary" %>
<% end %>
