<div class="card mb-3 bg-black border-white" style="width: 100%; height: 600;">
  <div class="row g-0">
    <div class="col-md-6">
      <% if @tracks.blank? %>
          <% if @playlist.user == current_user %>
            <p>プレイリストに楽曲を追加してください</p>
            <p> <%= link_to '楽曲一覧', tracks_path, class: 'btn btn-warning' %> </p>
          <% else %>
            <P>このプレイリストには楽曲がありません</P>
            <p> <%= link_to '戻る', :back, class: 'btn btn-warning' %> </p>
          <% end %>


      <% else %>
          <%= image_tag "/get_track_image/#{@current_play.id}", height: 600, width: 600, class: 'rounded-start' %>
          <audio src= "<%= "#{@current_play.mp3}" %>" controls="" style="width: 600px; margin-top: 10px;">
              <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
          </audio>
          
      <div class='d-flex justify-content-between p-3' style="width: 600px;">
        <% if @current_play_index - 1 < 0 %>
          <div class="btn btn-secondary btn-block disabled" >
            < 前の曲
          </div>
        <% else %>
          <%= link_to '< 前の曲', playlist_path(id: @playlist.id, current_play: @current_play_index - 1), class: 'btn btn-primary' %>
        <% end %>
        <% if @current_play_index + 1 == @tracks.size %>
          <div class="btn btn-secondary btn-block disabled" >
            次の曲 >
          </div>
        <% else %>
          <%= link_to '次の曲 >', playlist_path(id: @playlist.id, current_play: @current_play_index + 1), class: 'btn btn-primary' %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title"><%= @playlist.title %></h4>
        <h5 class="card-title">製作者：<%= @playlist.user.name %></h5>

        <% @tracks.each do |track| %>
          <div class="card mb-3 bg-black border-white" style="width: 100%;">
            <div class="row g-0">
              <div class="col-md-3">
                <%= image_tag "/get_track_image/#{track.id}", height: 150, width: 150, class: 'rounded-start' %>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-text"><strong><%= track.title %> </strong>| <%= track.user.name %></p>
                  <%= link_to 'プレイリストから削除', "#{params[:id]}/remove_track?track_id=#{track.id}", method: :post%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @playlist.user == current_user %>
  <p>プレイリストに楽曲を追加：　
  <%= link_to '楽曲一覧', tracks_path, class: 'btn btn-warning' %> </p>
  <%= link_to 'プレイリストを削除', playlist_path(@playlist.id), method: :delete, class: 'btn btn-danger' %>
<% end %>

<div class='text-right'>
  <p onclick='navigator.clipboard.writeText("<%= request.url %>")' style='cursor: pointer;' class='btn btn-warning'> 共有URLをコピー </p>
</div>