<div class="card mb-3 bg-black border-white" style="width: 100%; height: 600;">
  <div class="row g-0">
    <div class="col-md-6">
      <%= image_tag "/get_playlist_image/#{@playlist.id}", height: 600, width: 600, class: 'rounded-start' %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title"><%= @playlist.title %></h4>
        <h5 class="card-title"><%= @playlist.user.name %></h5>
        
        <% @tracks.each do |track| %>
          <div class="card mb-3 bg-black border-white" style="width: 100%;">
            <div class="row g-0">
              <div class="col-md-3">
                <%= image_tag "/get_track_image/#{track.id}", height: 150, width: 150, class: 'rounded-start' %>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-text"><strong><%= track.title %> </strong>| <%= track.user.name %></p>
                  <audio src= "<%= "#{track.mp3}" %>" controls="" style="width: 100%">
                    <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
                  </audio>
                </div>
              </div>
            </div>
          </div>
          <br><%= link_to 'プレイリストから削除', "#{params[:id]}/remove_track?track_id=#{track.id}", method: :post%></br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @playlist.user == current_user %>
  <%= link_to 'プレイリストを削除', playlist_path(@playlist.id), method: :delete, class: 'btn btn-danger' %>
<% end %>
